.rotating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    transform: translate(-50%, 60%) rotate(0deg);
    animation: rotateAnimation 2s linear;
  }
  
  @keyframes rotateAnimation {
    from {
      transform: translate(-50%, 60%) rotate(0deg);
    }
    to {
      transform: translate(-50%, 60%) rotate(360deg);
    }
  }